

.charecter_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    gap: 10px;
    width: min(850px, 100% - 10px);
    margin-inline: auto;
}

.personaje {
    width: 200px;
}